@import './scss/Palette';
@import './scss/Utils';
@import './scss/Fonts';

.app {
  text-align: center;
  &-header {
    width: 100%;
    background-color: $color-primary;
    // position: absolute;
    // top: 0;
    padding: 0.2em;
    color: $color-white;
    font-size: calc(10px + 2vmin);
  }
  &-main {
    padding: 0.7em;
    padding-bottom: 3em;
    background-color: $color-primary;
    min-height: 100vh;
    height: auto;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    color: $color-white;
  }
  &-footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 0.5em;
    font-size: calc(8px + 1vmin);

    &__bg-link {
      display: inline-block;
      background-color: rgba(255, 255, 255, 0.2);
      border-radius: 5px;
      padding: 2px 15px;
    }
  }
}

.title {
  font-size: calc(20px + 2vmin);
}

.link {
  color: #00d9ff;
}
