@import './scss/Palette';
@import './scss/Fonts';

.app {
  text-align: center;
  &-header {
    background-color: $color-primary;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  &-footer {
    width: 100%;
    // background-color: pink;
    position: absolute;
    bottom: 0;
    padding: 1em 0;
  }
}

.link {
  color: #00d9ff;
}
